.resume {
  position: relative;
  margin-left: 250px;
  width: calc(100vw - 250px);
  height: calc(100vh - 55px);
  padding: 2rem;
  padding-top: 55px;
  box-sizing: border-box;
}

.resume::-webkit-scrollbar {
  display: none;
}

.pdf_image {
  width: 100%;
  height: auto;
}
.pdf_preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 60px; /* ✅ Space for bottom bar */
}

.pdf_download {
  text-decoration: none;
  color: white;
  padding-top: 8px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 160em) {
  .resume {
    height: auto;
    width: 50vw;
    padding: 2rem;
    padding-top: 55px;
  }
}

@media (max-width: 90em) {
  .resume {
    height: auto;
    /* width: 70%; */
    padding: 2rem;
    padding-top: 55px;
  }
}
@media (max-width: 64em) {
  .resume {
    height: auto;
    padding: 2rem;
    padding-top: 55px;
  }
}

@media (max-width: 48em) {
  .resume {
    height: auto;
    margin-left: 0px;
    width: 100%;
    padding: 2rem;
    padding-top: 55px;
  }
}
@media (max-width: 26em) {
  .resume {
    height: auto;
    margin-left: 0px;
    width: 100%;
    padding: 2rem;
    padding-top: 55px;
  }
}
@media (max-width: 23em) {
  .resume {
    height: auto;
    margin-left: 0px;
    width: 100%;
    padding: 2rem;
    padding-top: 55px;
  }
}
@media (max-width: 20em) {
  .resume {
    height: auto;
    margin-left: 0px;
    width: 100%;
    padding: 2rem;
    padding-top: 55px;
  }
}
