.home {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 250px;
  width: calc(100%);
  box-sizing: border-box;
  height: calc(100vh - 88px);
}

h1 {
  font-size: 9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  color: var(--accent-3);
}

.job {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
  display: block;
}


.socials {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 3.8rem;
}

.socials {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 3.8rem;
  font-size: 3.8rem;
}

.social:link,
.social:visited {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s;
  letter-spacing: 0.5px;
}

.social:hover {
  color: var(--accent-4);
}

@media (max-width: 75em) {
  .socials {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 3.8rem;
    font-size: 3.8rem;
  }
  h1 {
    font-size: 6.8rem;
  }
  .home{
    margin-left: 0px;
    width: 100%
  }
}

@media (max-width: 57em) {
  .socials {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
  }
  .home{
    margin-left: 0px;
    width: 100%
  }
}

@media (max-width: 34em) {
  .socials {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
  }
  .job {
    font-size: 1.2rem;
  }
  .home{
    margin-left: 0px;
    width: 100%
  }
  h1 {
    font-size: 2.6rem;
  }
}
